
<div data-controller="mathquiz"
	   data-action="keydown@document->mathquiz#registerKey"
	   data-mathquiz-serverdata-value=<%= @server_data.to_json %>
     >

	  <div data-action="click->mathquiz#gohome"
         id="mathquiz-back-button"
         class="big-button">BACK</div>

    <div id ="mathProblemDiv" >
        <span data-mathquiz-target="mathProblemSpan"><%= random_math_problem %></span>
        <span data-mathquiz-target="mathAnswerSpan" id="mathAnswerText"></span>
    </div>

	  <div id="videoDiv">
	      <video data-mathquiz-target="videoPlayer"
			         id = "videoPlayer"
			         src=""
			         type="video/mp4">
	      </video>
	  </div>

</div>

