<div class="noscroll"
     data-controller="hello"
	   id="outerDiv"
	   data-action="keydown@document->hello#registerKey"
	   data-hello-serverdata-value=<%= URI.escape(@server_data.to_json) %>
	   data-hello-worddata-value=<%=
    @words.reduce(Hash.new){|old,new|
	  old.merge({
				  new[:name].upcase => {
							    name: new[:name].upcase,
								sound_url: url_for(new.sound),
								video_url: new.video.attached? ? url_for(new.video) : nil
							  }
				})
	}.to_json
		%>
	 >


	 <div data-hello-target="wordArea" id="wordArea">
	 </div>


	 <div data-hello-target="hintArea" id="hint-area">
	     <div data-action="click->hello#toggleHints" class="big-button" id="hint-button">HINT</div>
	   <div data-hello-target="hintCarousel" id="hint-carousel">
		 <% @words.select{|x| x.video.attached?}.each do |word| %>
		   <div data-hello-target="hint" class="hint-div">
			 <h3> <%= word[:name].upcase %> </h3>
			 <%= image_tag word.video.preview(resize_to_limit: [200, 200]) %>
			 <!-- more info on previews: https://guides.rubyonrails.org/active_storage_overview.html#previewing-files -->
		   </div>
		 <% end %>
	   </div>
	 </div>

	 <div id="videoDiv">
	   <video data-hello-target="videoPlayer"
			  id = "videoPlayer"
			  src=""
			  type="video/mp4">
	   </video>
	 </div>

</div>
