<p id="notice"><%= notice %></p>

<div class="scrollable">
    <h1>Words</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th colspan="3"></th>
            </tr>
        </thead>

        <tbody>
            <% @words.each do |word| %>
                <tr>
                    <td><%= word.name %></td>
                    <td><%= link_to 'Show', word %></td>
                    <td><%= link_to 'Edit', edit_word_path(word) %></td>
                    <td><%= link_to 'Destroy', word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <br>

    <%= link_to 'New Word', new_word_path %>
</div>
