<h1>New Word</h1>

<div class="row scrollable">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @word, local: true) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

	  <%= f.label :sound %>
      <%= f.file_field :sound, class: 'form-control' %>

	  <%= f.label :video %>
      <%= f.file_field :video, class: 'form-control' %>

      <%= f.submit "Create Word", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
