<p id="notice"><%= notice %></p>
<div class="scrollable">
    <div data-controller = "showword"
	       data-showword-soundpath-value=<%= url_for(@word.sound) %>
	  >

        <p>
	          <strong>Name:</strong>
	          <%= @word.name %>
        </p>

	      <button type="button" data-action="showword#playword">
	          Play Sound
	      </button>

	      <div>
            <% if @word.video.attached? %>
	              <video data-hello-target="videoElement"
			                 src=<%= url_for @word.video %>
			                 type="video/mp4"
			                 width="320"
			                 display=block
			                 controls
			          >
	              </video>
            <% else %>
                No video uploaded.
            <% end %> 
	      </div>

        <%= link_to 'Edit', edit_word_path(@word) %> |
        <%= link_to 'Back', words_path %>

    </div>
</div>
