// Place all the styles related to the SinglePageApps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body {
	background-color: blanchedalmond;
	font-family: Arial, Helvetica, sans-serif;
}

.noscroll {
	  // prevent scrolling
	  margin: 0; height: 100%; overflow: hidden;
}
//
// stdlib
//
.big-button {
		margin: auto; // center div
		width: 200px;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		background: hotpink;
		font-size: 30px;
		border-radius: 20px;
		border-style: solid;
		border-width: 5px;

		&:hover {
			  background: lightcoral;
			  cursor: pointer;
		}
}

//
// Words
//
#outerDiv {
	width:99%;
	height: 90%;
	margin: 0px;
}


#wordArea {
	font-size: 160px;
	font-weight: 700;
	text-align: center;
	height: 170px;
  line-height: 160px;
	width: 100%;
  vertical-align: middle;

	padding-top: 100pt;
}

#hint-area {
	#hint-carousel {
		.hint-div{
			margin: auto; // center div
			width: 200px;
			text-align: center;
			h3 {
				font-size: 30px;
			}
			img {
			}
		}
	}
}

#videoDiv {
	// Center the video
	text-align: center;
	margin-top: 0px;

	#videoPlayer {
		height: 500px;
	}
}

//
// Math Quiz Site
//
#mathProblemDiv {
	  font-size: 160px;
	  font-weight: 700;
	  text-align: center;
	  height: 170px;
    line-height: 160px;
	  width: 100%;
    vertical-align: middle;
	  padding-top: 100pt;
}

#mathquiz-back-button {
    float: right;
}
