// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.scrollable {
    // enable scrolling
    width: 100%;
    height: 100x;
    overflow-y: auto;
    /* max-height: 100px; */
    height: 100%;
    display: block;
    padding-bottom: 300px;
}

/* table { */
/*     height: 100%; */
/*     color: red; */
/* } */
